.our-ejs {
    padding: 0rem 5rem;
    padding-bottom: 5rem;
    background-color: #EDE5ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterprises-width {
    width: 100%;
    max-width: 1340px;
}

.slick-prev {
    margin-left: -20px!important;
}

.slick-prev:before {
    content: url('../../assets/left-arrow.png')!important;
}

.slick-next:before {
    content: url('../../assets/right-arrow.png')!important;
    max-width: 10px;
}