#footer{
    position: absolute;
    width: 100%;
    height: 58px;
    background: #FFFFFF;
    display: flex;
}
#footer-right{
    width: 100%;
    height: 58px;
    background: #FFFFFF;
    display: flex;
}
#footer-left{
    width: 100%;
    height: 58px;
    background: #FFFFFF;
    display: flex;
}

