.button {
    padding: 1rem 4rem;
    background: #027373;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}