#contactus{
    width: 100%;
    height: 400px;
    background: #027373;
    display: flex;
    justify-content: center;
}
.contato{
    max-width: 1440px;
    display: flex;
    justify-content: center;
}
#addres{
    margin-top: 120px;
    max-width: 370px;
    padding-left: 40px;
}

#contact{
    margin-top: 120px;
    text-align: right;
    width: 370px;
    padding-right: 40px;
}

#socialmedia {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#email{
    margin-bottom: 15px;
    margin-top: 15px;
}

#logo{
    display: flex;
    justify-content: center;
}

#logo img{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 129px;
    margin-right: 129px;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border: 1.74318px;
    box-sizing: border-box;
    background-color: #fff;
}
