.Partners-div {
    height: 735.05px;
    width: 100%;
    left: 0px;
    top: 2941px;
    border-radius: 0px;
    background-color: #f4f4f4ab;
}

.PartnersContent {
    max-width: 1440px;
    margin: auto;
    padding-top: 1px;
}

.PartnersTitle {
    padding-top: 106px;
    padding-left: 49px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #141c15;
}

.PartnersGrid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: ". . . ." ". . . ." ". . . .";
}