.conecte-se{
    height: 724px;
    background: #FFF;
    display: flex;
    justify-content: center;
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;

}
.formulario{
    margin-top: 120px;
    max-width: 700px;
}
#forms-info{
    padding-right: 40px;
}
#conecte-text{
    padding-left: 40px;
}

#conecte-text p{
    max-width: 435px;
    display: block;
    justify-content: start;
}
