@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.AboutUsPage{
  height: 736px;
  max-width: 440vh;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color:#027373;
}
.AboutUsContent{
  padding-top: 97px;
  padding-left: 216px;
  padding-bottom: 189px;
  padding-right: 166px;
  display: flex;
}
.AboutUsImg{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 24px;
}
.AboutUsText{
padding-top: 23px;
padding-left: 79px;
}
.AboutUsTitle{
  padding-right: 42px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #E5E5E5;
}
.AboutUsp{
  padding-top: 59.93px;

}

.AboutUsp1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #E5E5E5;  
}
.AboutUsp2{
padding-top: 25px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
color: #E5E5E5;  

}