@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.Title-div{
    font-family: Montserrat;
    color:#141C15;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    vertical-align: center;
}

